<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>    
    <section name="ITS.WebFramework" type="ITS.WebFramework.Configuration.WFKSection, ITS.WebFramework.Configuration"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <add name="CubeHttpModule" type="Cube.Base.CubeHttpModule"/>
    </modules>
  </system.webServer>
  <ITS.WebFramework>
    <globalSettings>
      <add key="PermissionServiceUrl" value="http://aic0-s2.qgroup.corp.com:8011/PermissionManagement/PermissionService.asmx"/>
    </globalSettings>
    <systemSettings>
      <add key="SystemName" value="PermissionManagement"/>
      <add key="SSODebugOrgName" value="Global"/>
      <add key="SSODebugProductName" value="Administration"/>
      <add key="SSODebugUserName" value="William.Chen"/>
      <!--<add key="SSODebugPortalUrl" value="http://aic0-s2.qgroup.corp.com/wfk/default.aspx"/>-->
      <add key="SSODebugPortalUrl" value="http://o-a3b2/CubePortal/Portal"/>
      <add key="PublicAssemblyPaths" value=""/>
      <add key="DebugMode" value="true"/>
    </systemSettings>
  </ITS.WebFramework>
  <connectionStrings>
    <add name="system" connectionString="Data Source=10.85.10.2\cim;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="cube" connectionString="Data Source=10.85.10.2\cim;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <!--<add name="system" connectionString="Data Source=10.85.17.209\aic0;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="cube" connectionString="Data Source=10.85.17.209\aic0;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="AuthorityMode" value="WFK"/>
    <!--Cube|WFK-->
    <add key="CubeIsDebugMode" value="true"/>
    <add key="CubeLoginUrl" value="http://10.85.129.44/CubePortal/Login"/>
    <!--<add key="CubeLoginUrl" value="http://o-a3a5.qgroup.corp.com/Cube/Login"/>-->
    <!--<add key="CubeLoginUrl" value="http://10.85.129.62/Cube/Login"/>-->
    <add key="CubeTokenOverdueMiniute" value="600"/>
  </appSettings>
</configuration>