.cube-environment {
    /*font-size: small;
    font-style: italic;*/
}

#_BookmarkMenu > li.bookmark-item:hover > a, #_BookmarkMenu > li.active > a, #_BookmarkMenu li:hover > a:hover {
    background-color: lightgray;
}

#_BookmarkMenu .header {
    background-color: #dddddd;
}

.bookmark-item a {
    padding-left: 30px;
}

.icon_close_form {
    cursor: pointer;
}

.skin_button {
    cursor: pointer;
}

body {
    overflow: hidden;
}

.alpha60 {
    opacity: 0.6;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

    .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

.dropdown-menu > li > a {
    cursor: pointer;
}

#_FormTabContent > .tab-pane {
    /*border: 1px solid #ddd;*/
    border-top: 0px;
}

.function_menu_item {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #1e282c;
    opacity: .8;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    opacity: .5;
}


#_FunctionMenu > li:first-child {
    padding-top: 45px;
}

#_FunctionMenu.SingleModeMenu > li:first-child {
    padding-top: 34px;
}

section.content {
    padding: 0px 0px 15px 0px;
}

.nav-tabs > li > a {
    border-radius: 0px;
    padding: 6px 15px;
}

#_FormTabs {
    padding-left: 10px;
    border-bottom: 0px;
}

#_BreadcrumbBar {
    background-color: white;
    height: 20px;
    margin-left: 0px;
    margin-right: 1px;
}

#_BreadcrumbContent {
    float: left;
    padding-left: 10px;
    font-size: 10px;
}

#_FunctionMenu a {
    overflow: hidden;
    text-overflow: ellipsis;
}

#_FunctionMenu a:hover, header a:hover, aside a:hover {
    cursor: pointer;
}

#newsList h4, #newsList p {
    margin: 0px;
}

#newsList p {
    text-align: right;
}

#newsList a {
    color: #72afd2;
}

#btnHideHeader {
    padding-bottom: 15px;
}

#btnHideHeader > i {
    font-size: 12px;
    padding-top: 5px;
}

#btnShowHeader {
    position: fixed;
    right: 0px;
    top: -50px;
    height: 20px;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 7px; 
    z-index: 9999;
    width: 38px;
    height: 34px;
    font-size: 12px;
}